doctype html
html
  head
    title FCC voting app
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='../style.css')
    link(type="text/css",rel='stylesheet', href="../bootstrap.css")
    script(type="text/javascript", src="../jquery-3.2.1.min.js")  
    script(src="../bootstrap.js")
    script(src="../script.js")
    
  
  body
    - var myUrl = websiteUrl + '/polls/' + pollName;
    - var websiteUrl = "https://fancy-thrill.glitch.me"
    .container
      nav.navbar.navbar-default
          .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar 
                
              a.navbar-brand(href=websiteUrl) FCC-voting
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav.navbar-right
                li.active
                  a(href=websiteUrl) Home
                if userAuth  
                  li
                    a(href=websiteUrl + "/mypolls") My Polls
                  li
                    a(href=websiteUrl + "/newpoll") New Poll
                  li.dropdown
                    a.dropdown-toggle(, data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                      | #{userName} 
                      span.caret
                    |                   
                    ul.dropdown-menu
                      li
                        a(href=websiteUrl + "/signout") Sign Out
                else
                  li
                    a(href="https://fancy-thrill.glitch.me/request-token" id="signup") Sign in with Twitter
            // navbar-collapse
          // container-fluid

  
  

  - var pollName = "what do you like?"
  - var polls = ['tomato', 'carrots', 'cheese']
  .content.container
    .col-md-4
      h3= pollName
      form.form-group  
        label #[h2 #[b I'd like to vote for:]]
        select.form-control#options
       
        br
        btn.btn-block.btn-primary#submitOption(style="padding: 10px;") submit
        br
        
        
        if userAuth 
            input.col-xs-8(id="addedVote", type="text", name="newOption", placeholder="add a new option ...")
            input.btn.btn-primary#addOption(type="button", value="add", style="float: left;padding: 2px 10px" ) 
        
        br
        br
        br
        .btn.btn-info.btn-block#share share on twitter
        br
    .col-md-8(style="text-align: center;")
      canvas.center-block#myChart(width='400', height='400', style='max-width: 500px; max-height: 500px;')
      
      if userAuth
        br
        .btn.btn-block.btn-danger Remove This Poll
      
      
  
  .container
  h5(style="text-align:center") #[b This "fcc-voting" app is built by #[a(href="https://github.com/moaz-eldefrawy", target="_blank") Moaz ELdefrawy]] 
  
  script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js')
  script(src="../pollScript.js")
  